<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.altimeter.variometer">

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LatitudeActivity"
            android:label="@string/label_latitude"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.altimeter.variometer.LatitudeActivity" />
        </activity>
        <activity
            android:name=".IndicatorSettingsActivity"
            android:label="@string/indicator_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.altimeter.variometer.MainActivity" />
        </activity>
        <activity
            android:name=".FilterParametersActivity"
            android:label="@string/filter_parameters"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.altimeter.variometer.MainActivity" />
        </activity>
        <activity
            android:name=".SoundSettingsActivity"
            android:label="@string/sound_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.altimeter.variometer.MainActivity" />
        </activity>
        <activity
            android:name=".CalibrationActivity"
            android:label="@string/accelerometer_calibration"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.altimeter.variometer.MainActivity" />
        </activity>
    </application>

</manifest>